// fonts
$ffMain:'Josefin Sans', sans-serif;
$ffAdd:'Playfair', serif;


//breakpoint
$desktop-small: 1200px;
$tablet: 992px;
$tablet-small: 768px;
$mobile: 576px;

// contaiber
$container: 1166px;

// color
$white: #ffffff;

// radius
$radiusRound: 33px;
$radius: 21px;
$radiusImg: 50%;

// utils
$transition: 0.3s all ease-in-out;
