.footer {
	padding-top: 100px;
padding-bottom: 50px;
&-line {
	width: 100%;
	height: 3px;
	background: #000;
}
&-nav {
	padding-top: 30px;
}
.footer-ul {
	display: flex;
	justify-content: center;
	align-items: center;
	@include tablet-small{
		flex-direction: column;
		gap: 20px;
	}
}
.footer-li:not(:first-child){
	margin-right: 40px;
	@include tablet-small{
		margin: 0;
	}
}
.footer-li a{
	@include text($ffAdd, 20px, 28px, 400, #ffffff);
	transition: $transition;
}
.material-symbols-outlined{
	color: $white;
}
.footer-li a:hover{
	color: #abc334;
}
}